<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project 1</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="index.js" defer></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .win {
                background-color: green;
            }

        .lose {
            background-color: red;
        }
        .message {
            padding: 8px;
            margin: 10px 20px 0 0;
            width: 350px;
        }
    </style>
  </head>
  <body>
      <script type="text/x-template" id="game-choices">
        <div>
            <button @click="$emit('player-choice', name)">{{name}}</button>
        </div>
      </script>

    <div id="app" v-cloak>
      <h1>
        Rock Paper Scissors
      </h1>
      <div v-if="!gameOn">
        <label>
          Enter your player name:
          <input type="text" v-model="playerName"/>
        </label>
        <button @click="playGame">Let's play!</button>
      </div>
      <div v-if="gameOn">
        <p>Game on, <b>{{playerName}}</b> !</p>
        <h2>Choose "Rock", "Paper" Or "Scissors" !</h2>
        <div v-if="!choiceSubmitted">
          <game-choices
            v-for="choice in choices"
            v-bind:key="choice.name"
            v-bind:name="choice.name"
            v-on:player-choice="submitPlayerChoice($event)">
        </div>
      </div>
      {{getResult}}
      <div v-if="choiceSubmitted">
        <div class="message" :class="{ win : gameResult.result === 'win', lose : gameResult.result === 'lose' }">
          <span>{{gameResult.message}}</span>
          <button @click="playGame">Play again</button>
        </div>
      </div>
      <div v-if="gameOn">
        <div>
          <div>
            <h3>Scores</h3>
            <ul>
              <li>Player: {{playerScore}}</li>
              <li>Computer: {{computerScore}}</li>
            </ul>
          </div>
          <div>
            <h3>History</h3>
            <ul v-if="gameHistory.length > 0">
              <li v-for="history in gameHistory">{{history.stats}}</li>
            </ul>
          </div>
        </div>
        <button @click="resetScores">Reset</button>
      </div>
    </div>
  </body>
</html>